<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="ConnectionInfo" value="Data Source=.\;Initial Catalog=stokTakibi;User ID=test; Password=test"/>
  </appSettings>
    <connectionStrings>
        <add name="MOAgrossStok.Properties.Settings.stokTakibiConnectionString"
            connectionString="Data Source=DESKTOP-LP4LA9U;Initial Catalog=stokTakibi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>